.header{
	font-size: 20px;
	/*line-height: 1.5;*/
	margin: 50px auto;
}
.header span{
	display: block;
}
.form{
	border: 5px solid #2727d9;
	padding: 30px 20px;
}
.form-btn{
	background-color: #2727d9;
	margin: 12px auto;
}
.form-header{
	font-weight: 900;
	font-size: 20px;
}
.form input{
	margin-bottom: 15px;
}
.video{
	margin-bottom: 20px;
}
img{
	height: 120px;
}
p{
	margin: 30px auto;
}